.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;

  .editDiv {
    width: 100%;
    display: inline-block;
    text-align: center;

    .fa-edit:before {
      font-size: 1.4rem !important;
    }
    p {
      font-size: 1.2rem;
      font-weight: 500;
      padding: 5px;
    }
  }

  .profilePhoto {
    margin: 5px;
    display: flex;
    border: 1px solid rgba(44, 6, 6, 0.26);
    max-width: 50%;
    overflow: hidden;
  }

  .content {
    padding: 2rem;
    width: 90%;
    margin: 0 auto;
    line-height: 1.6rem;
    letter-spacing: 1px;
  }
  i {
    color: #49c1a2;
  }
}
